Web References/thongtindaotao/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="XemThongTin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mssv" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="XemThongTinResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="XemThongTinResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="XemLichThi">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mssv" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="XemLichThiResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="XemLichThiResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="XemDiem">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mssv" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="XemDiemResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="XemDiemResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="XemTKB">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mssv" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="XemTKBResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="XemTKBResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="XemThongTinSoapIn">
    <wsdl:part name="parameters" element="tns:XemThongTin" />
  </wsdl:message>
  <wsdl:message name="XemThongTinSoapOut">
    <wsdl:part name="parameters" element="tns:XemThongTinResponse" />
  </wsdl:message>
  <wsdl:message name="XemLichThiSoapIn">
    <wsdl:part name="parameters" element="tns:XemLichThi" />
  </wsdl:message>
  <wsdl:message name="XemLichThiSoapOut">
    <wsdl:part name="parameters" element="tns:XemLichThiResponse" />
  </wsdl:message>
  <wsdl:message name="XemDiemSoapIn">
    <wsdl:part name="parameters" element="tns:XemDiem" />
  </wsdl:message>
  <wsdl:message name="XemDiemSoapOut">
    <wsdl:part name="parameters" element="tns:XemDiemResponse" />
  </wsdl:message>
  <wsdl:message name="XemTKBSoapIn">
    <wsdl:part name="parameters" element="tns:XemTKB" />
  </wsdl:message>
  <wsdl:message name="XemTKBSoapOut">
    <wsdl:part name="parameters" element="tns:XemTKBResponse" />
  </wsdl:message>
  <wsdl:message name="XemThongTinHttpGetIn">
    <wsdl:part name="mssv" type="s:string" />
  </wsdl:message>
  <wsdl:message name="XemThongTinHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="XemLichThiHttpGetIn">
    <wsdl:part name="mssv" type="s:string" />
  </wsdl:message>
  <wsdl:message name="XemLichThiHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="XemDiemHttpGetIn">
    <wsdl:part name="mssv" type="s:string" />
  </wsdl:message>
  <wsdl:message name="XemDiemHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="XemTKBHttpGetIn">
    <wsdl:part name="mssv" type="s:string" />
  </wsdl:message>
  <wsdl:message name="XemTKBHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="XemThongTinHttpPostIn">
    <wsdl:part name="mssv" type="s:string" />
  </wsdl:message>
  <wsdl:message name="XemThongTinHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="XemLichThiHttpPostIn">
    <wsdl:part name="mssv" type="s:string" />
  </wsdl:message>
  <wsdl:message name="XemLichThiHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="XemDiemHttpPostIn">
    <wsdl:part name="mssv" type="s:string" />
  </wsdl:message>
  <wsdl:message name="XemDiemHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="XemTKBHttpPostIn">
    <wsdl:part name="mssv" type="s:string" />
  </wsdl:message>
  <wsdl:message name="XemTKBHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="XemThongTin">
      <wsdl:input message="tns:XemThongTinSoapIn" />
      <wsdl:output message="tns:XemThongTinSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="XemLichThi">
      <wsdl:input message="tns:XemLichThiSoapIn" />
      <wsdl:output message="tns:XemLichThiSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="XemDiem">
      <wsdl:input message="tns:XemDiemSoapIn" />
      <wsdl:output message="tns:XemDiemSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="XemTKB">
      <wsdl:input message="tns:XemTKBSoapIn" />
      <wsdl:output message="tns:XemTKBSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ServiceHttpGet">
    <wsdl:operation name="XemThongTin">
      <wsdl:input message="tns:XemThongTinHttpGetIn" />
      <wsdl:output message="tns:XemThongTinHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="XemLichThi">
      <wsdl:input message="tns:XemLichThiHttpGetIn" />
      <wsdl:output message="tns:XemLichThiHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="XemDiem">
      <wsdl:input message="tns:XemDiemHttpGetIn" />
      <wsdl:output message="tns:XemDiemHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="XemTKB">
      <wsdl:input message="tns:XemTKBHttpGetIn" />
      <wsdl:output message="tns:XemTKBHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ServiceHttpPost">
    <wsdl:operation name="XemThongTin">
      <wsdl:input message="tns:XemThongTinHttpPostIn" />
      <wsdl:output message="tns:XemThongTinHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="XemLichThi">
      <wsdl:input message="tns:XemLichThiHttpPostIn" />
      <wsdl:output message="tns:XemLichThiHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="XemDiem">
      <wsdl:input message="tns:XemDiemHttpPostIn" />
      <wsdl:output message="tns:XemDiemHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="XemTKB">
      <wsdl:input message="tns:XemTKBHttpPostIn" />
      <wsdl:output message="tns:XemTKBHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="XemThongTin">
      <soap:operation soapAction="http://tempuri.org/XemThongTin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XemLichThi">
      <soap:operation soapAction="http://tempuri.org/XemLichThi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XemDiem">
      <soap:operation soapAction="http://tempuri.org/XemDiem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XemTKB">
      <soap:operation soapAction="http://tempuri.org/XemTKB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="XemThongTin">
      <soap12:operation soapAction="http://tempuri.org/XemThongTin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XemLichThi">
      <soap12:operation soapAction="http://tempuri.org/XemLichThi" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XemDiem">
      <soap12:operation soapAction="http://tempuri.org/XemDiem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XemTKB">
      <soap12:operation soapAction="http://tempuri.org/XemTKB" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceHttpGet" type="tns:ServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="XemThongTin">
      <http:operation location="/XemThongTin" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XemLichThi">
      <http:operation location="/XemLichThi" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XemDiem">
      <http:operation location="/XemDiem" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XemTKB">
      <http:operation location="/XemTKB" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceHttpPost" type="tns:ServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="XemThongTin">
      <http:operation location="/XemThongTin" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XemLichThi">
      <http:operation location="/XemLichThi" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XemDiem">
      <http:operation location="/XemDiem" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XemTKB">
      <http:operation location="/XemTKB" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://thongtindaotao.somee.com/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://thongtindaotao.somee.com/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceHttpGet" binding="tns:ServiceHttpGet">
      <http:address location="http://thongtindaotao.somee.com/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceHttpPost" binding="tns:ServiceHttpPost">
      <http:address location="http://thongtindaotao.somee.com/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>